*{
  box-sizing: border-box;
}

body{
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  margin: 0;
}

.hidden{
  display: none;
}

.home_image_box{
  height: 100%;
  width: 100%;
}

.video-overlay{
  position: absolute;
  color: white;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.main_title{
  display: inline-block;
  font-family: 'Comfortaa', sans-serif;
  font-size: 5em;
  height: auto;
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
}

.main_subtitle{
  font-family: 'Comfortaa', sans-serif;
  font-size: 2em;
  height: auto;
  margin: 0 auto;
  margin-top: 7em;
  width: auto;
}

.mainPage_buttons{
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.left_button{
  background-color: Transparent;
  border: solid white 2px;
  color: white;
  font-size: 2em;
  outline: 0;
  width: 5em;
}

.right_button{
  background-color: Transparent;
  border: solid white 2px;
  color: white;
  font-size: 2em;
  margin-left: 1em;
  outline: 0;
  width: 5em;
}

.nav_mobile_wrapper{
  display: inline-flex;
  height: 82px;
  margin: 0;
  margin-left: .2em;
  width: 99.55%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
}

.nav_left{
  background-color: lightslategrey;
  height: 100%;
  width: 45%;
}

.nav_middle{
  margin: 0;
  height: 100%;
  width: 10%;
}

.facebook{
  height: 100%;
  width: 100%;
}

.nav_right{
  background-color: teal;
  margin: 0;
  height: 100%;
  width: 45%;
}

.nav_name_left{
  color: white;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.8em;
  margin: 0 auto;
  text-align: center;
}

.nav_options{
  display: block;
  color: white;
  font-family: 'NTR', sans-serif;
  font-size: 2.5rem;
  height: 102%;
  margin: 0 auto;
  padding-top: .1em;
  text-decoration: none;
  text-align: center;
  width: 5em;
}

.nav_options:hover{
  background-color: white;
  color: black;
  transition: .5s;
}

.nav_content_right{
  display: inline-flex;
  color: white;
  list-style: none;
  margin-left: 0em;
  padding: 0;
  text-decoration: none;
  margin-top: 0;
  height: 5em;
  width: 70%;
}

.services_title{
  margin-top: 0;
}

.agent_name{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.contact_name_title{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  margin: 0;
  padding-top: 1em;
  text-align: center;
}


.contact_info{
  display: inline-block;
  color: black;
  font-family: 'NTR', sans-serif;
  margin-top: 2em;
  width: 100%;
}

.contact_detail{
  font-size: 2em;
  line-height: 1em;
  width: 20em;
  vertical-align: top;
  white-space: pre;
}

.contact_right{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

.contact_image{
  box-shadow: 10px 10px 5px #888888;
  height: 20em;
  width: 30em;
}

.contact_buttons{

  display: inline-flex;
}

.agent_portait{
  display: block;
  border: groove 5px;
  box-shadow: 10px 10px 5px #888888;
  height: 15em;
  margin: 0 auto;
  margin-top: 1em;
  vertical-align: top;
  width: 15em;
}

.agent_name{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.contact_agent_name{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.contact_title {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
}

.contact_input {
  border: darkslategrey solid 1px;
  font-size: 2em;
  margin-left: 1em;
  width: 33%;
  text-align: center;
}

.contact_submit{
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F5F5F5 0%, #AFB0BD 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F5F5F5 0%, #AFB0BD 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F5F5F5 0%, #AFB0BD 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #F5F5F5), color-stop(100, #AFB0BD));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F5F5F5 0%, #AFB0BD 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #F5F5F5 0%, #AFB0BD 100%);
  border: darkslategrey solid 1px;
  font-weight: 900;
  font-size: 2em;
  margin-left: 1em;
  width: 5em;
}

.services_title{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.text{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
  margin-bottom: 0em;
  text-indent: 1em;
}

.agent_portrait{
  display: block;
  border: groove 5px;
  box-shadow: 10px 10px 5px #888888;
  height: 15em;
  margin: 0 auto;
  margin-top: 1em;
  vertical-align: top;
  width: 15em;
}

@media screen and (min-width: 1280px) and (max-width: 1439px){

  body{
    background-color: lightgrey;
    height: 120em;
  }

  .video{
    display: block;
    height: 38.8em;
    /*height: 44.4em;*/
    margin: 0 auto;
  }

  .outer_container{
      height: 40em;
  }

  .main_title{
    margin-top: .2em;
  }

  .video-overlay{
    position: absolute;
    color: white;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  .main_subtitle{
    margin-top: .5em;
  }

  .down_button{
    background-color: Transparent;
    border: solid 2px;
    color: white;
    display: block;
    font-size: 2em;
    height: 3em;
    margin: 0 auto;
    margin-top: 3em;
    outline: 0;
    width: 3em;
    -moz-border-radius: 50px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
  }

  .nav_bar{
    display: inline-flex;
    margin: 0;
    margin-left: .2em;
    height: 82px;
    width: 99.55%;
    z-index: 2;
  }

  .nav_bar_scrolled{
    position: fixed;
    top: 0;
    margin-bottom: -82px;
    margin-left: .2em;
  }

  .nav_options{
    font-size: 1.3rem;
    padding-top: .8em;
    width: 6.5em;
  }

  .nav_middle:hover{
    margin: 0;
    transition: .3s;
    width: 10%;
  }

  .fixed {
    position: fixed;
  }

  .services_page{
    background-image: url('/styles/hood.jpg');
    height: 44em;
  }

  .services_break{
    line-height: 7em;
  }


  .agent_image_name{
    color: teal;
    display: inline-block;
    height: 30em;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    margin-top: 1em;
    width: 40%;
  }

  .agent_portrait{
    border: groove 4px;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    height: 20em;
    width: 20em;
  }

  .text{
    display: inline-block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 2em;
    width: 50%;
  }

  .agent_name{
    font-size: 2em;
  }

  .aboutMe_page{
    background-image: url('/styles/hood2.jpg');
    font-size: 1.4em;
    height: 35em;
  }

  .about_lineBreak{
    line-height: 3em;
  }

  .contact_page{
    background-image: url('/styles/hood3.jpg');
    height: 40em;
  }

  .contact_left{
    display: inline-block;
    font-size: .8em;
    margin: 0 auto;
    margin-top: 5em;
    vertical-align: top;
    text-align: center;
    width: 50%;
  }

  .contact_agent_name{
    color: black;
  }

  .contact_right{
    background-color: white;
    border: solid black 2px;
    display: inline-block;
    margin-left: 2em;
    margin-top: 6em;
    padding: 2em;
    width: 43%;
  }

  .contact_image{
    border: solid black 2px;
    height: 20em;
  }

  .contact_input_area{
    font-size: .7em;
  }

  .house4{
    opacity: .3;
    margin-left: 5em;
  }

}
